.DepartmentFeed {
  display: flex;
}
.DepartmentFeedRight {
  flex: 9;
}

.DepartmentFeedCover {
  height: 250px;
  position: relative;
}

.DepartmentFeedCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.DepartmentFeedCover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.DepartmentFeedTitle {
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
  font-weight: 800;
  z-index: 2;
  font-size: 40px;
}

.DepartmentFeedInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DepartmentFeedInfoName {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

.DepartmentFeedRightBottom {
  display: flex;
}
